body {
    background-image: url("https://lmorkol.github.io/Testpages/images/bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form {
    position: absolute;
    color: #bfbdbd;
    top: 180px;
    left: 40px;
}
h1{
  color: #bfbdbd;
  position:absolute;
  top: 110px;
  left: 30px;
}
body, html {
    height: 100%;
}
.textarea{
    position: absolute;
    top: 400px;
    left: 40px;
}
.topsel{
    color: white;
}
.block_ct{
    position: absolute;
    top: 180px;
    color: white;
}
