.bg {
    background-image: url("https://lmorkol.github.io/Testpages/images/bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form {
 position: absolute;
  color: #bfbdbd;
 top: 70px;
 left: 5px;
}
h1{
  color: #bfbdbd;
  position:absolute;
  top: 10px;
  left: 5px;
}
body, html {
    height: 100%;
}
