body {
    background-image: url("https://lmorkol.github.io/Testpages/images/bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form {
    position: absolute;
    color: #bfbdbd;
    top: 95px;
    left: 20px;
}
h1{
  color: #bfbdbd;
  position:absolute;
  top: 10px;
  left: 20px;
}
body, html {
    height: 100%;
}
